<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>

    {{ 'application.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'application.js' | asset_url  }}" async></script>

    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
