{% liquid
  assign collection = section.settings.collection
%}

<div class="container mt-5 mb-5">
  <div class="section-heading mb-4">
    <h2>
      {% if section.settings.title != blank %}
        {{ section.settings.title }}
      {% else %}
        {{ collection.title }}
      {% endif %}
    </h2>
  </div>
  <div class="row">
    {% for product in collection.products limit: section.settings.product_limit %}
      <div class="col-12 col-sm-6 col-md-{{section.settings.row_limit}} mb-4">
        <div class="card p-2">
          <img
            src="{{ product.featured_image | image_url: width:500 }}"
            height="auto"
            width="auto"
            loading="lazy"
            alt="{{ product.title }}"
          >
          <div class="product-info">
            <h3>{{ product.title }}</h3>
            <p>
              <strong>{{ product.price | money }}</strong>
            </p>
            <div class="btn btn-primary">Add To Cart</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if collection.all_products_count > section.settings.product_limit %}
    <div class="d-flex justify-content-center"><a href="{{ collection.url }}" class="btn btn-primary">View all</a></div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Customize section"
    },
    {
      "type": "range",
      "id": "product_limit",
      "min": 2,
      "max": 20,
      "step": 1,
      "unit": "pcs",
      "label": "Products limit",
      "default": 6
    },
    {
      "type": "range",
      "id": "row_limit",
      "min": 1,
      "max": 8,
      "step": 1,
      "unit": "pcs",
      "label": "Products in row",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
