{% liquid
  assign collection = section.settings.collection
%}

<div class="container mt-5 mb-5">
  <div class="section-heading mb-4">
    <h2>
      {% if section.settings.title != blank %}
        {{ section.settings.title }}
      {% else %}
        {{ collection.title }}
      {% endif %}
    </h2>
  </div>
  <div class="row">
    {% for product in collection.products %}
      <div class="col-md-4">
        <div class="card p-2">
          <img
            src="{{ product.featured_image | image_url: width:500 }}"
            height="auto"
            width="auto"
            loading="lazy"
            alt="{{ product.title }}"
          >
          <div class="product-info">
            <h3>{{ product.title }}</h3>
            <p>
              <strong>{{ product.price | money }}</strong>
            </p>
            <div class="btn btn-primary">Add To Cart</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="container"></div>
{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
