<footer class="site-footer">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'footer_menu' %}
            <div class="col-md-3">
              <h4>{{ block.settings.menu_title }}</h4>
              <div class="footer-links">
                <ul style="  list-style-type: none;margin: 0;padding: 0;">
                  {% for link in block.settings.menu.links %}
                    <li>
                      <a href="{{ link.url }}" class="btn btn-link">{{ link.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% when 'footer_logo' %}
            <div class="col-md-3">
              <a href="{{ block.settings.url }}" class="footer-logo">
                <img
                  src="{{ block.settings.logo| image_url: width: 200, height: 200 }}"
                  alt="logo"
                  width="auto"
                  height="auto"
                  loading="eager"
                >
              </a>
              <div class="info">
                {{ block.settings.info }}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [],
  "blocks": [
    {
      "type": "footer_menu",
      "name": "Footer Menu",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title",
          "default": "Menu title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Footer menu"
        }
      ]
    },
    {
      "type": "footer_logo",
      "name": "Footer Logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Logo url"
        },
        {
          "type": "richtext",
          "id": "info",
          "label": "Info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
