<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="{{ section.settings.auto_slide }}"
>
  {% if section.settings.show_navigation %}
    <div class="carousel-indicators">
      {% for item in section.blocks %}
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="{{ forloop.index0 }}"
          {% if forloop.index == 1 %}
            class="active"
            aria-current="true"
          {% endif %}

          aria-label="Slide {{ forloop.index }}"
        ></button>
      {% endfor %}
    </div>
  {% endif %}
  <div class="carousel-inner">
    {% for item in section.blocks %}
      <div
        class="carousel-item {% if forloop.index == 1 %} active {% endif %}"
        {% if section.settings.auto_slide %}
          data-bs-interval="{{section.settings.speed}}"
        {% endif %}
      >
        {% if item.settings.slide_img %}
          <img
            src="{{ item.settings.slide_img | image_url: width:1920 }}"
            width="auto"
            height="auto"
            loading="lazy"
            class="d-block w-100"
            alt="Slide {{ forloop.index }}"
          >
        {% endif %}
        <div class="carousel-caption d-none d-md-block mb-4">
          <h5>{{ item.settings.slide_heading }}</h5>
          <div>{{ item.settings.slide_description }}</div>
          {% if item.settings.btn_title != blank %}
            <div class="actions">
              <a class="btn btn-primary" href="{{ item.settings.btn_url }}"> {{ item.settings.btn_title }} </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if section.blocks.size > 0 and section.settings.show_prev_next %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endif %}
</div>

{% schema %}
{
  "name": "Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "auto_slide",
      "label": "Enable Auto Slide",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_prev_next",
      "label": "Show prev & next button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_navigation",
      "label": "Show Navigation",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "min": 500,
      "max": 20000,
      "step": 100,
      "unit": "ms",
      "label": "Speed",
      "default": 3000
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "slide",
      "settings": [
        { "type": "image_picker", "id": "slide_img", "label": "Slider Image" },
        { "type": "header", "content": "Slider Content" },
        { "type": "text", "id": "slide_heading", "label": "Slide title", "default": "Slide Title" },
        {
          "type": "richtext",
          "id": "slide_description",
          "label": "Slide description",
          "default": "<p>Some representative placeholder content for the first slide.</p>"
        },
        {
          "type": "text",
          "id": "btn_title",
          "label": "Button title",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button url"
        }
      ]
    }
  ],
  "presets": [{ "name": "Slider" }]
}
{% endschema %}
